---
import "~styles/styles.css";
import SvelteVideo1 from "~components/1stVideo.svelte";
import SvelteVideo2 from "~components/2ndVideo.svelte";
import SvelteVideo3 from "~components/3rdVideo.svelte";
import SvelteVideo4 from "~components/4thVideo.svelte";
import SvelteVideo5 from "~components/5thVideo.svelte";
---

<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />

    <title>astro2545</title>
  </head>
  <body>
    <main class="container">
      <h1>Тизер-Трейлеры разных частей God of War</h1>
      <p>
        
        
      </p>
      <SvelteVideo1 client:load />
      <SvelteVideo2 client:load />
      <SvelteVideo3 client:load />
      <SvelteVideo4 client:load />
      <SvelteVideo5 client:load />
    </main>
  </body>
</html>

<style>
  .container {
    display: flex;
    flex-direction: column;
    background: hsl(
      var(--colour-dark-hue) var(--colour-dark-saturation)
        var(--colour-dark-luminance)
    );
    color: hsl(
      var(--colour-light-text-hue) var(--colour-light-text-saturation)
        var(--colour-light-text-luminance)
    );
    padding: var(--spacing-8) var(--spacing-0) var(--spacing-32);
  }

  .container a {
    color: hsl(
      var(--colour-secondary-hue) var(--colour-secondary-saturation)
        var(--colour-secondary-luminance)
    );
  }
  .mdx-container {
    display: flex;
    flex-direction: column;
    background: hsl(
      var(--colour-alternative-hue) var(--colour-alternative-saturation)
        var(--colour-alternative-luminance)
    );
    align-items: center;
    width: 100%;
    padding: var(--spacing-8) var(--spacing-0) var(--spacing-12);
    color: hsl(
      var(--colour-light-text-hue) var(--colour-light-text-saturation)
        var(--colour-light-text-luminance)
    );
  }
</style>